#about-container{
  width: 100%;
  max-width: 950px;
  margin: 0 auto;
  /*box-shadow: 0 0 4px 0 rgba(0,0,0,0.50);*/
  text-align: center;
}
#about-headerquote{
  margin: 0 auto;
  width: 70%;
  text-align: left;
}
#about-body{
  margin: 0 auto;
  width: 80%;
  text-align: left;
}
#about-contribtorlist{
  list-style: none;
}
.about-sectionbreak{
  width: 80%;
  margin: 30px auto;
}
