/*Gloabl styles consistent across all public facing pages*/
h1, h2, h3{
  font-family: 'Droid Serif', serif;
}
h4, h5{
  font-family: 'Droid Serif', serif;
  font-style: italic;
}
p, blockquote{
  font-family: 'Roboto', sans-serif;
}
