/*Top bar style overrides*/
.top-bar{
  background: white;
  padding: 0 20px;
  margin: 10px 0;
}
.top-bar.expanded .title-area {
    background: white;
}

.top-bar-section ul li {
    background: white;
}
.top-bar .name h1 a, .top-bar .name h2 a, .top-bar .name h3 a, .top-bar .name h4 a, .top-bar .name p a, .top-bar .name span a{
  color: black;
}

.top-bar .toggle-topbar.menu-icon a{
  color: black;
}
.top-bar .toggle-topbar.menu-icon a span::after{
      box-shadow: 0 0 0 1px black, 0 7px 0 1px black, 0 14px 0 1px black;
}

.top-bar-section li:not(.has-form) a:not(.button){
  color: black;
  background: transparent;
}

.top-bar-section .has-dropdown > a:after{
  border-color: rgba(0, 0, 0, 0.4) transparent transparent transparent;
}

.top-bar-section .dropdown li.title h5 a, .top-bar-section .dropdown li.parent-link a {
  color: black;
}

.top-bar-section ul li:hover:not(.has-form) > a{
  color: black;
  background-color: white;
}

.top-bar-section li:not(.has-form) a:not(.button):hover{
  background-color: white;
}

.top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button){
  color: black;
  background-color: white;
}

/*Custom topnav styles*/
#topnav-profile, img.topnav-search{
  width: 30px;
  height: 30px;
  margin-top: 10px;
}
input.topnav-search{
  display: inline-block;
  vertical-align: top;
  width: 70%;
  height: 100%;
}
.top-bar.expanded input.topnav-search{
  vertical-align: middle;
}
.top-bar.expanded img.topnav-search,
.top-bar.expanded #topnav-profile{
  margin-top: 0;
}
