/*Top bar style overrides*/
.top-bar{
  background: white;
  padding: 0 20px;
  margin: 10px 0;
}
.top-bar.expanded .title-area {
    background: white;
}

.top-bar-section ul li {
    background: white;
}
.top-bar .name h1 a, .top-bar .name h2 a, .top-bar .name h3 a, .top-bar .name h4 a, .top-bar .name p a, .top-bar .name span a{
  color: black;
}

.top-bar .toggle-topbar.menu-icon a{
  color: black;
}
.top-bar .toggle-topbar.menu-icon a span::after{
      box-shadow: 0 0 0 1px black, 0 7px 0 1px black, 0 14px 0 1px black;
}

/*Custom topnav styles*/
#topnav-profile, img.topnav-search{
  width: 35px;
  height: 35px;
  margin-top: 5px;
}
input.topnav-search{
  display: inline-block;
  vertical-align: top;
  width: 70%;
  height: 100%;
}
.top-bar.expanded input.topnav-search{
  vertical-align: middle;
}
.top-bar.expanded img.topnav-search,
.top-bar.expanded #topnav-profile{
  margin-top: 0;
}
