header{
    margin-top: 30px;
}
#project-filtercontainer{
  width: 80%;
  margin: 0 auto;
}
.filter-label{
  text-align: center;
}

.project-sectionbreak{
  width: 80%;
  margin: 30px auto;
}

#thumb-container{
  width: 80%;
  max-width: 1500px;
  margin: 0 auto;
}
.thumb-article{
  display: block;
  margin-bottom: 30px;
  text-align: center;
}
.thumb-headerimg{
  width: 100%;
  height: 200px;
  background-image: url("../img/temp_thumbnails/Galaxy_1952_06_0000.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin-bottom: 15px;
}
.thumb-textcontainer{
  width: 90%;
  margin: 0 auto;
}
.thumb-textcontainer p{
  color: black;
}
.thumb-date{
  font-size: 0.8rem;
}
.thumb-description{
  text-align: left;
}
