header{
    margin-top: 30px;
}
#project-filtercontainer{
  width: 80%;
  margin: 0 auto;
}
.filter-label{
  text-align: center;
}

.project-sectionbreak{
  width: 80%;
  margin: 30px auto;
}

#thumb-container{
  width: 80%;
  max-width: 1500px;
  /*padding: 0 60px;*/
  margin: 0 auto;
}
.thumb-article{
  display: block;
  margin-bottom: 30px;
}
.thumb-headerimg{
  width: 100%;
  height: 200px;
  background-image: url("http://via.placeholder.com/226x160");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.thumb-textcontainer p{
  color: black;
}
